<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments/header :: header-css"/>
	<link href="/css/dashboard/dashboard.css" rel="stylesheet"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="page-wrap">
	<div class="dashboard-container">
		<div class="starter-template">
			<!--<h1>돌보미 대시보드</h1>-->
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="widget-wrap">
					<h4>월별 전체 돌봄 서비스 제공 현황</h4>
					<div class="chart-container" style="position: relative;">
						<canvas id="monthlyCareLogAsAllUser"></canvas>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="widget-wrap">
					<h4>월별 돌보미 등록 현황</h4>
					<div class="chart-container" style="position: relative;">
						<canvas id="monthlyAddedCaretakerLog"></canvas>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="widget-wrap">
					<h4>월별 맡기미 등록 현황</h4>
					<div class="chart-container" style="position: relative;">
						<canvas id="monthlyAddedConsignerLog"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="widget-wrap">
					<h4>월별 반려 동물 등록 현황</h4>
					<div class="chart-container" style="position: relative;">
						<canvas id="monthlyAddedPetLog"></canvas>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="widget-wrap">
					<h4>월별 사용자 로그인 현황</h4>
					<div class="chart-container" style="position: relative;">
						<canvas id="monthlyLoginLog"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>
<script src="/js/chart.js" th:src="@{/js/chart.js}"></script>
<script type="text/javascript"
		src="/js/user/adminDashboard.js" th:src="@{/js/user/adminDashboard.js}"></script>
</body>
</html>