<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="page-wrap">
	<div class="container">
		<div class="starter-template">
			<h3>공지사항</h3>
			<table class="table-striped">
				<tr>
					<th>번호</th>
					<th>제목</th>
					<th>게시일</th>
				</tr>
				<tr th:if="${notices != null and notices.size()>0}" th:each="notice : ${notices}">
					<td th:text="${notice.noticeKey}"></td>
					<td th:text="${notice.title}"></td>
					<td th:text="${notice.createdAt}"></td>
				</tr>
				<tr th:unless="${notices != null and notices.size()>0}" th:each="notice : ${notices}">
					<td colspan="3">존재하지 않습니다.</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>