/**
 * @author Lee Tae Su
 * @project recommendation
 * @version 1.0
 * @since 2017-10-20
 */

.right-side h1, .right-side h2, .right-side h3, .right-side h4, .right-side h5 {
    text-align: center;
}

.right-side {

}

.right-side-inner{
    border: 1px solid #cccccc;
    padding: 30px 10px;
    background-color: #ffffff;
    color: #7d7d7d;
}
.right-side h5 {
    color: #7d7d7d;
    font-weight: bolder;
}

.pee-per-night {
    color: #FCBC4E;
    font-weight: bolder;
}

.additional-fee {
    color: #FCBC4E;
    font-weight: bolder;
}

.right-side-detail {
    font-size: 13px;
    color: #7d7d7d;
    margin-top: 60px;
    margin-bottom: 40px;
}

.total {
    font-weight: bolder;
}

.user-detail ul, .user-detail li {
    list-style: none;
    padding-left: 0px;
}

.user-detail li {
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    padding: 15px 5px 15px 0;
    overflow: hidden;
}

.left, .right {
    display: inline-block;
}

.left {
    display: inline-block;
    height: 22px;
    float: left;
}

.right {
    display: inline-block;
    height: 22px;
    float: right;
}

.btn-area {
    text-align: center;
    margin-top: 10px;
}

.btn-area a {
    color: inherit;
    cursor: pointer;
}

.btn-area a:hover {
    color: inherit;
    cursor: pointer;
    color: #cccccc;
}

.input-group {
    float: left;
    margin-left: 5px;
}

.plus-minus-btn {
    display: inline-block;
    width: 22px;
    height: 22px;
    text-align: center;
    float: left;
    border: 1px solid #cccccc;
    cursor: pointer;
}

.plus-minus-btn:hover {
    background-color: #cccccc;
}

.input-small {
    width: 39px;
    height: 22px;
    float: left;
    text-align: left !important;
    color: #868686;
    font-size: 90%;
    line-height: 145%;
    margin-bottom: 0;
    border: 1px solid #DCDCDC;
}

.btn-request {
    background: #6eb9b5;
    width: 80%;
    font-size: 18px;
    color: white;
    font-weight: normal;
}

.img-responsive {
    /*border: 1px solid #cccccc;*/
}

.sub-images .col-xs-3 {
    margin-top: 10px;
}

.border-separator {
    margin: 30px 0px;
}

.border-separator .main-intro-image-wrap {
    border-bottom: 1px solid #cccccc;;
    padding: 10px 0px 30px 0px;
    width: 100%;
}

.care-env-odd, .care-env-even {
    height: 40px;
    color: #7d7d7d;
}

.care-env-odd {
    background-color: #f0f0f0;
}

.care-env-even {

}

.care-env-odd span, .care-env-even span {
    display: inline-block;
    padding: 10px;
}

.care-env-left {
    float: left;
    font-weight: bolder;
}

.care-env-right {
    float: right;
}

.border-separator h5 {
    color: #1aa19d;
}

.care-env-left-group {
    padding-right: 10px;
}

.care-env-right-group {
    padding-left: 10px;
}

.no-border {
    border: none;
}

.calendar-wrap {
    margin-top: 10px;
}

.main-intro-image {
    max-height: 498px;
    margin-left: auto;
    margin-right: auto;
}

.sub-images .img-responsive {
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.main-intro-image-wrap {
    cursor: pointer;
    height: 500px;
    display: table;
    width: 100%;
}

.main-intro-image-inner {
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #CCCCCC;
    background: antiquewhite;
}

.sub-images .sub-image-wrap {
    padding: 0px 15px;
    display: table;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    background: antiquewhite;
    height: 140px;
    width: 100%;
}

.sub-image-inner {
    display: table-cell;
    vertical-align: middle;
}

.main-intro-image-inner:hover {
    opacity: 0.8;
    border: 1px solid coral;
}

.sub-image-wrap:hover {
    opacity: 0.8;
    border: 1px solid coral;
}