.list-row{
    margin-bottom: 30px;
    background-color: transparent;
    border: solid 1px #ccc;
}

.list-row .list-header, .list-row .list-header{
    padding-left: 0px;
    padding-right: 0px;
    border: solid 1px #ccc;
}

.list-row .list-content{
    height: 245px;
    overflow: hidden;
}

.list-header .thumbnail{
    margin-bottom: 0px;
}

.list-content .panel-heading{
    border-bottom: 1px solid #ccc;
}
.fee-per-night{
    color: #fac058;
    font-size: 14px;
    display: block;
}

.fee-per-night .price{
    color: #fac058;
    font-size: 20px;
    font-weight: bolder;
}

.additional-fee{
    color: #7d7d7d;
    font-size: 14px;
    display: block;
}

.additional-fee .price{
    color: #7d7d7d;
    font-weight: bolder;
    font-size: 20px;
}

.panel-body-p{
    text-align: right;
}