<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sch.pl.graduate.recommendation.user.admin.mapper.AdminMapper">

    <resultMap id="DashboardForLoginHistoryMap" type="DashboardForLoginHistory">
        <result property="month" column="MONTH"/>
        <result property="isSuccess" column="IS_SUCCESS"/>
        <result property="count" column="COUNT"/>
    </resultMap>

    <select id="getSystemLoginHistoriesByMonth" resultMap="DashboardForLoginHistoryMap">
        SELECT
          CASE  MONTH(A.TRY_AT)
                WHEN '1' THEN 'Jan'
                WHEN '2' THEN 'Feb'
                WHEN '3' THEN 'Mar'
                WHEN '4' THEN 'Apr'
                WHEN '5' THEN 'May'
                WHEN '6' THEN 'Jun'
                WHEN '7' THEN 'Jul'
                WHEN '8' THEN 'Aug'
                WHEN '9' THEN 'Sep'
                WHEN '10' THEN 'Oct'
                WHEN '11' THEN 'Nov'
                WHEN '12' THEN 'Dec'
            END AS MONTH,
            IS_SUCCESS,
            COUNT(IS_SUCCESS) AS COUNT
        FROM USER_LOGIN_HISTORY A
            GROUP BY MONTH, IS_SUCCESS
    </select>

</mapper>