<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sch.pl.graduate.recommendation.dashboard.mapper.DashboardForCaretakerMapper">

    <resultMap id="DashboardMap" type="Dashboard">
        <result property="month" column="MONTH"/>
        <result property="count" column="COUNT"/>
        <result property="cityName" column="CITY_NAME"/>
        <result property="date" column="DATE"/>
    </resultMap>

    <select id="getMonthlyCareLogAsAllUser" resultMap="DashboardMap">
        SELECT
             CASE MONTH(A.START_AT)
                WHEN '1' THEN 'Jan'
                WHEN '2' THEN 'Feb'
                WHEN '3' THEN 'Mar'
                WHEN '4' THEN 'Apr'
                WHEN '5' THEN 'May'
                WHEN '6' THEN 'Jun'
                WHEN '7' THEN 'Jul'
                WHEN '8' THEN 'Aug'
                WHEN '9' THEN 'Sep'
                WHEN '10' THEN 'Oct'
                WHEN '11' THEN 'Nov'
                WHEN '12' THEN 'Dec'
            END AS MONTH,
            COUNT(*) AS COUNT
        FROM CARE A
        GROUP BY MONTH
    </select>

    <select id="getDailyCareLogAsAllUser" resultMap="DashboardMap">
        SELECT
            B.DATE,
            COUNT(A.CARE_KEY) AS COUNT
        FROM (SELECT A.DATE
              FROM (
                       SELECT CURDATE() - INTERVAL (A.A + (10 * B.A) + (100 * C.A)) DAY AS DATE
                       FROM (SELECT 0 AS A
                             UNION ALL SELECT 1
                             UNION ALL SELECT 2
                             UNION ALL SELECT 3
                             UNION ALL SELECT 4
                             UNION ALL SELECT 5
                             UNION ALL SELECT 6
                             UNION ALL SELECT 7
                             UNION ALL SELECT 8
                             UNION ALL SELECT 9) AS A
                           CROSS JOIN (SELECT 0 AS A
                                       UNION ALL SELECT 1
                                       UNION ALL SELECT 2
                                       UNION ALL SELECT 3
                                       UNION ALL SELECT 4
                                       UNION ALL SELECT 5
                                       UNION ALL SELECT 6
                                       UNION ALL SELECT 7
                                       UNION ALL SELECT 8
                                       UNION ALL SELECT 9) AS B
                           CROSS JOIN (SELECT 0 AS A
                                       UNION ALL SELECT 1
                                       UNION ALL SELECT 2
                                       UNION ALL SELECT 3
                                       UNION ALL SELECT 4
                                       UNION ALL SELECT 5
                                       UNION ALL SELECT 6
                                       UNION ALL SELECT 7
                                       UNION ALL SELECT 8
                                       UNION ALL SELECT 9) AS C
                   ) A
              WHERE A.DATE BETWEEN DATE_SUB(CURRENT_DATE, INTERVAL 30 DAY) AND CURRENT_DATE
             ) B
            LEFT JOIN CARE A
                ON B.DATE = DATE(A.START_AT)
        GROUP BY B.DATE
        ORDER BY DATE ASC
    </select>

    <select id="getMonthlyCareLogAsCurrentUser" resultMap="DashboardMap">
        SELECT
             CASE MONTH(A.START_AT)
                WHEN '1' THEN 'Jan'
                WHEN '2' THEN 'Feb'
                WHEN '3' THEN 'Mar'
                WHEN '4' THEN 'Apr'
                WHEN '5' THEN 'May'
                WHEN '6' THEN 'Jun'
                WHEN '7' THEN 'Jul'
                WHEN '8' THEN 'Aug'
                WHEN '9' THEN 'Sep'
                WHEN '10' THEN 'Oct'
                WHEN '11' THEN 'Nov'
                WHEN '12' THEN 'Dec'
            END AS MONTH,
            COUNT(*) AS COUNT
        FROM (SELECT * FROM CARE WHERE CARETAKER_KEY=#{userKey}) A
        GROUP BY MONTH
    </select>

    <select id="getDailyCareLogAsCurrentUser" resultMap="DashboardMap">
        SELECT
            B.DATE,
            COUNT(A.CARE_KEY) AS COUNT
        FROM (SELECT A.DATE
              FROM (
                       SELECT CURDATE() - INTERVAL (A.A + (10 * B.A) + (100 * C.A)) DAY AS DATE
                       FROM (SELECT 0 AS A
                             UNION ALL SELECT 1
                             UNION ALL SELECT 2
                             UNION ALL SELECT 3
                             UNION ALL SELECT 4
                             UNION ALL SELECT 5
                             UNION ALL SELECT 6
                             UNION ALL SELECT 7
                             UNION ALL SELECT 8
                             UNION ALL SELECT 9) AS A
                           CROSS JOIN (SELECT 0 AS A
                                       UNION ALL SELECT 1
                                       UNION ALL SELECT 2
                                       UNION ALL SELECT 3
                                       UNION ALL SELECT 4
                                       UNION ALL SELECT 5
                                       UNION ALL SELECT 6
                                       UNION ALL SELECT 7
                                       UNION ALL SELECT 8
                                       UNION ALL SELECT 9) AS B
                           CROSS JOIN (SELECT 0 AS A
                                       UNION ALL SELECT 1
                                       UNION ALL SELECT 2
                                       UNION ALL SELECT 3
                                       UNION ALL SELECT 4
                                       UNION ALL SELECT 5
                                       UNION ALL SELECT 6
                                       UNION ALL SELECT 7
                                       UNION ALL SELECT 8
                                       UNION ALL SELECT 9) AS C
                   ) A
              WHERE A.DATE BETWEEN DATE_SUB(CURRENT_DATE, INTERVAL 30 DAY) AND CURRENT_DATE
             ) B
            LEFT JOIN (SELECT * FROM CARE WHERE CARETAKER_KEY=#{userKey}) A
                ON B.DATE = DATE(A.START_AT)
        GROUP BY B.DATE
        ORDER BY DATE ASC
    </select>

    <select id="getMonthlyAddedPetLog" resultMap="DashboardMap">
       SELECT
             CASE MONTH(A.CREATED_AT)
                WHEN '1' THEN 'Jan'
                WHEN '2' THEN 'Feb'
                WHEN '3' THEN 'Mar'
                WHEN '4' THEN 'Apr'
                WHEN '5' THEN 'May'
                WHEN '6' THEN 'Jun'
                WHEN '7' THEN 'Jul'
                WHEN '8' THEN 'Aug'
                WHEN '9' THEN 'Sep'
                WHEN '10' THEN 'Oct'
                WHEN '11' THEN 'Nov'
                WHEN '12' THEN 'Dec'
            END AS MONTH,
            COUNT(*) AS COUNT
        FROM (SELECT * FROM PET) A
        GROUP BY MONTH
    </select>

    <select id="getDailyAddedPetLog" resultMap="DashboardMap">
       SELECT
            B.DATE,
            COUNT(A.PET_KEY) AS COUNT
        FROM (SELECT A.DATE
              FROM (
                       SELECT CURDATE() - INTERVAL (A.A + (10 * B.A) + (100 * C.A)) DAY AS DATE
                       FROM (SELECT 0 AS A
                             UNION ALL SELECT 1
                             UNION ALL SELECT 2
                             UNION ALL SELECT 3
                             UNION ALL SELECT 4
                             UNION ALL SELECT 5
                             UNION ALL SELECT 6
                             UNION ALL SELECT 7
                             UNION ALL SELECT 8
                             UNION ALL SELECT 9) AS A
                           CROSS JOIN (SELECT 0 AS A
                                       UNION ALL SELECT 1
                                       UNION ALL SELECT 2
                                       UNION ALL SELECT 3
                                       UNION ALL SELECT 4
                                       UNION ALL SELECT 5
                                       UNION ALL SELECT 6
                                       UNION ALL SELECT 7
                                       UNION ALL SELECT 8
                                       UNION ALL SELECT 9) AS B
                           CROSS JOIN (SELECT 0 AS A
                                       UNION ALL SELECT 1
                                       UNION ALL SELECT 2
                                       UNION ALL SELECT 3
                                       UNION ALL SELECT 4
                                       UNION ALL SELECT 5
                                       UNION ALL SELECT 6
                                       UNION ALL SELECT 7
                                       UNION ALL SELECT 8
                                       UNION ALL SELECT 9) AS C
                   ) A
              WHERE A.DATE BETWEEN DATE_SUB(CURRENT_DATE, INTERVAL 30 DAY) AND CURRENT_DATE
             ) B
            LEFT JOIN (SELECT * FROM PET) A
                ON B.DATE = DATE(A.CREATED_AT)
        GROUP BY B.DATE
        ORDER BY DATE ASC
    </select>

    <select id="getMonthlyAddedConsignerLog" resultMap="DashboardMap">
        SELECT
            CASE MONTH(A.CREATED_AT)
                WHEN '1' THEN 'Jan'
                WHEN '2' THEN 'Feb'
                WHEN '3' THEN 'Mar'
                WHEN '4' THEN 'Apr'
                WHEN '5' THEN 'May'
                WHEN '6' THEN 'Jun'
                WHEN '7' THEN 'Jul'
                WHEN '8' THEN 'Aug'
                WHEN '9' THEN 'Sep'
                WHEN '10' THEN 'Oct'
                WHEN '11' THEN 'Nov'
                WHEN '12' THEN 'Dec'
            END AS MONTH,
            COUNT(A.USER_KEY) AS COUNT
        FROM (SELECT * FROM USER WHERE ROLE_KEY=2) A
        GROUP BY MONTH(A.CREATED_AT)
    </select>

    <select id="getDailyAddedConsignerLog" resultMap="DashboardMap">
        SELECT
            B.DATE,
            COUNT(A.USER_KEY) AS COUNT
        FROM (SELECT A.DATE
              FROM (
                       SELECT CURDATE() - INTERVAL (A.A + (10 * B.A) + (100 * C.A)) DAY AS DATE
                       FROM (SELECT 0 AS A
                             UNION ALL SELECT 1
                             UNION ALL SELECT 2
                             UNION ALL SELECT 3
                             UNION ALL SELECT 4
                             UNION ALL SELECT 5
                             UNION ALL SELECT 6
                             UNION ALL SELECT 7
                             UNION ALL SELECT 8
                             UNION ALL SELECT 9) AS A
                           CROSS JOIN (SELECT 0 AS A
                                       UNION ALL SELECT 1
                                       UNION ALL SELECT 2
                                       UNION ALL SELECT 3
                                       UNION ALL SELECT 4
                                       UNION ALL SELECT 5
                                       UNION ALL SELECT 6
                                       UNION ALL SELECT 7
                                       UNION ALL SELECT 8
                                       UNION ALL SELECT 9) AS B
                           CROSS JOIN (SELECT 0 AS A
                                       UNION ALL SELECT 1
                                       UNION ALL SELECT 2
                                       UNION ALL SELECT 3
                                       UNION ALL SELECT 4
                                       UNION ALL SELECT 5
                                       UNION ALL SELECT 6
                                       UNION ALL SELECT 7
                                       UNION ALL SELECT 8
                                       UNION ALL SELECT 9) AS C
                   ) A
              WHERE A.DATE BETWEEN DATE_SUB(CURRENT_DATE, INTERVAL 30 DAY) AND CURRENT_DATE
             ) B
            LEFT JOIN  (SELECT * FROM USER WHERE ROLE_KEY=2) A
                ON B.DATE = DATE(A.CREATED_AT)
        GROUP BY B.DATE
        ORDER BY DATE ASC
    </select>

</mapper>