<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sch.pl.graduate.recommendation.role.mapper.RoleMapper">

    <resultMap id="RoleMap" type="Role">
        <id property="roleKey" column="ROLE_KEY"/>
        <id property="roleName" column="ROLE_NAME"/>
        <id property="description" column="DESCRIPTION"/>
    </resultMap>

    <resultMap id="GrantedAuthorityMap" type="GrantedAuthority">
        <id property="role" column="ROLE_NAME"/>
    </resultMap>

    <select id="getRole" resultMap="RoleMap">
        SELECT *
        FROM ROLE
        WHERE
        ROLE_KEY = #{roleKey}
        <if test="roleName != null">
            AND UPPER(ROLE_NAME) = UPPER(#{roleName})
        </if>
    </select>

    <select id="getRoleByRoleKey" resultMap="RoleMap">
        SELECT *
        FROM ROLE
        WHERE
        ROLE_KEY = #{roleKey}
    </select>

    <select id="getRoleByRoleName" resultMap="RoleMap">
        SELECT *
        FROM ROLE
        WHERE
        UPPER(ROLE_NAME) = UPPER(#{roleName})
    </select>

    <select id="getUserRolesByUserId" resultMap="GrantedAuthorityMap">
        SELECT A.ROLE_NAME
          FROM ROLE A
          INNER JOIN USER B
            ON A.ROLE_KEY = B.ROLE_KEY
        WHERE B.USER_ID = #{userId}
    </select>

</mapper>