<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments/header :: header-css"/>
	<link href="/css/dashboard/dashboard.css" rel="stylesheet"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="page-wrap">
	<div class="dashboard-container">
		<div class="starter-template">
			<!--<h1>돌보미 대시보드</h1>-->
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="widget-wrap">
					<h4>월별 전체 돌봄 서비스 제공 현황</h4>
					<div class="chart-container" style="position: relative;">
						<canvas id="monthlyCareLogAsAllUser"></canvas>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="widget-wrap">
					<h4>월별 반려 동물 등록 현황</h4>
					<div class="chart-container" style="position: relative;">
						<canvas id="monthlyAddedPetLog"></canvas>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="widget-wrap">
					<h4>월별 맡기미 등록 현황</h4>
					<div class="chart-container" style="position: relative;">
						<canvas id="monthlyAddedConsignerLog"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="widget-wrap">
					<h4>월별 나의 돌봄 서비스 제공 현황</h4>
					<div class="chart-container" style="position: relative;">
						<canvas id="monthlyCareLogAsCurrentUser"></canvas>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="widget-wrap">
					<h4>공지사항</h4>
					<table class="table table-striped">
						<tr>
							<th>번호</th>
							<th>제목</th>
							<th>게시일</th>
						</tr>
						<tr th:if="${notices != null and notices.size()>0}"
							th:each="notice : ${notices}"
							th:onclick="'javascript:onNoticeDetailClick('+${notice.noticeKey}+');'"
							style="cursor: pointer">
							<td th:text="${notice.noticeKey}"></td>
							<td th:text="${notice.title}"></td>
							<td th:text="${notice.createdAt}"></td>
						</tr>
						<tr th:unless="${notices != null and notices.size()>0}">
							<td align="center" colspan="3">존재하지 않습니다.</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>
<script src="/js/chart.js" th:src="@{/js/chart.js}"></script>
<script type="text/javascript"
		src="/js/user/caretakerDashboard.js" th:src="@{/js/user/caretakerDashboard.js}"></script>
</body>
</html>