<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<div th:replace="fragments/header :: header-css"/>
	<link rel="stylesheet" href="/css/signup/signup.css" th:href="@{/css/signup/signup.css}"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<div class="page-wrap">
	<div class="container">
		<div class="starter-template view-title">
			<h3>돌보미 프로필 등록</h3>
		</div>
		<div class="container" style="margin-top: 40px;">
			<div class="row">
				<div class="col-md-10 ">
					<form class="form-horizontal">
						<fieldset>
							<div class="form-group">
								<label class="col-md-4 control-label" for="petCount">보유 중 반려 동물 수</label>
								<div class="col-md-8">
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-user">
											</i>
										</div>
										<input type="number" placeholder="보유 중 반려 동물 수"
											   name="petCount" class="form-control" id="petCount"
										/>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label" for="title">프로필 제목</label>
								<div class="col-md-8">
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-user">
											</i>
										</div>
										<input id="title" name="title" type="text"
											   placeholder="프로필 제목"
											   class="form-control input-md"/>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label" for="summary">프로필 상세</label>
								<div class="col-md-8">
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-user">
											</i>
										</div>
										<textarea id="summary" name="summary"
												  placeholder="프로필 상세"
												  class="form-control input-md"></textarea>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label" for="feePerNight">1박 당 요금</label>
								<div class="col-md-8">
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-user">
											</i>
										</div>
										<input id="feePerNight" name="feePerNight" type="number"
											   placeholder="1박 당 요금 (단위: 원)"
											   class="form-control input-md"/>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label" for="additionalFee">추가 반려 동물 당 요금</label>
								<div class="col-md-8">
									<div class="input-group">
										<div class="input-group-addon">
											<i class="fa fa-user">
											</i>
										</div>
										<input id="additionalFee" name="additionalFee" type="number"
											   placeholder="추가 반려 동물 당 요금 (단위: 원)"
											   class="form-control input-md"/>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-4 control-label" for="checkOutTime">체크인</label>
								<div class="col-md-8" style="padding-right:0px; padding-left: 0px;">
									<div class="col-md-6">
										<select id="checkInTime" name="checkInTime" class="form-control">
											<option value="-1" disabled="disabled">
												체크인 (시간)
											</option>
											<option th:each="i : ${#numbers.sequence( 0, 23)}"
													th:value="${i}"
													th:text="${i}+'시'"></option>
										</select>
									</div>
									<div class="col-md-6">
										<select id="checkInMinute" name="checkInMinute" class="form-control">
											<option value="-1" selected="selected" disabled="disabled">
												체크인 (분)
											</option>
											<option  value="0">00분
											</option>
											<option  value="30">30분
											</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-md-4 control-label" for="checkOutTime">체크아웃</label>
								<div class="col-md-8" style="padding-right:0px; padding-left: 0px;">
									<div class="col-md-6">
										<select id="checkOutTime" name="checkOutTime" class="form-control">
											<option value="-1" selected="selected" disabled="disabled">
												체크아웃 (시간)
											</option>
											<option th:each="i : ${#numbers.sequence( 0, 23)}"
													th:value="${i}"
													th:text="${i}+'시'"></option>
										</select>
									</div>
									<div class="col-md-6">
										<select id="checkOutMinute" name="checkOutMinute" class="form-control">
											<option value="-1" selected="selected" disabled="disabled">
												체크아웃 (분)
											</option>
											<option value="0">00분
											</option>
											<option value="30">30분
											</option>
										</select>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-4 control-label" for="yard-true">마당 여부</label>
								<div class="col-md-8 funkyradio">
									<div class="funkyradio-primary">
										<input type="radio" name="yard" class="form-control" id="yard-true" value="true"
											 checked="checked"/>
										<label for="yard-true">마당이 있습니다</label>
									</div>
									<div class="funkyradio-primary">
										<input type="radio" name="yard" class="form-control" id="yard-false" value="false"
											   />
										<label for="yard-false">마당이 없습니다</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label" for="liveWithFamily-true">추가 반려 동물 당 요금</label>
								<div class="col-md-8 funkyradio">
									<div class="funkyradio-success">
										<input type="radio" name="liveWithFamily" class="form-control" id="liveWithFamily-true" value="true"
											   checked="checked"/>
										<label for="liveWithFamily-true">가족과 함께 삽니다</label>
									</div>
									<div class="funkyradio-success">
										<input type="radio" name="liveWithFamily" class="form-control"
											   id="liveWithFamily-false" value="false"
											  />
										<label for="liveWithFamily-false">가족과 함께 살고있지 않습니다</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label" for="hasYoungChildren-true">12세 미만 아이 여부</label>
								<div class="col-md-8 funkyradio">
									<div class="funkyradio-danger">
										<input type="radio" name="hasYoungChildren" class="form-control" id="hasYoungChildren-true" value="true"
											   checked="checked"/>
										<label for="hasYoungChildren-true">12세 미만 어린 아이가 있습니다</label>
									</div>
									<div class="funkyradio-danger">
										<input type="radio" name="hasYoungChildren" class="form-control"
											   id="hasYoungChildren-false" value="false"
											   />
										<label for="hasYoungChildren-false">12세 미만 어린 아이가 없습니다</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-4 control-label" for="pickup-true">픽업 가능 여부</label>
								<div class="col-md-8 funkyradio">
									<div class="funkyradio-warning">
										<input type="radio" name="pickup" class="form-control" id="pickup-true" value="true"
											   checked="checked"/>
										<label for="pickup-true">픽업 가능합니다</label>
									</div>
									<div class="funkyradio-warning">
										<input type="radio" name="pickup" class="form-control" id="pickup-false" value="false"
											/>
										<label for="pickup-false">픽업 가능하지 않습니다</label>
									</div>
								</div>
							</div>

							<div id="image-form-wrap">
								<input type="hidden" id="imageFormId" value="1"/>
								<div class="form-group row">
									<label class="col-md-2">Upload Intro Image</label>
									<div class="col-md-6">
										<div class="input-group">
												<span class="input-group-btn">
													<span class="btn btn-default btn-file">
														Browse… <input type="file"
																	   id="imageInput1"
																	   class="files"
																	   onchange="onChange('1')"/>
													</span>
												</span>
											<input type="text" id="fileName1" class="form-control"
												   readonly="readonly"/>
										</div>
									</div>
									<div class="col-md-3">
										<div class="thumbnail">
											<img id="image1" style="width: 100%"/>
										</div>
									</div>
									<div class="col-md-1">
										<button id="1" type="button" onclick="onImageFormAddClick(this)"
												class="btn btn-primary"><span
												class="glyphicon glyphicon-plus"></span>
										</button>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-4 control-label"></label>
								<div class="col-md-8">
									<a sec:authorize="hasRole('ROLE_CARETAKER')"
									   th:onclick="'javascript:onAddCaretakerButtonClick('+${profile.userKey}+')'"
									   class="btn btn-success"> <span class="glyphicon glyphicon-thumbs-up"></span> 등록</a>
									<a sec:authorize="hasRole('ROLE_CARETAKER')" th:href="@{/myprofile/caretaker}"
									   class="btn btn-danger"><span class="glyphicon glyphicon-thumbs-up"></span> 취소</a>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="col-md-2 hidden-xs">
					<img th:if="${profile.profileFileKey != null}" th:src="@{'/files/'+${profile.profileFileKey}+'/downloads'}"
						 class="img-responsive img-thumbnail "/>
					<img th:unless="${profile.profileFileKey != null}" th:src="@{/images/profile.jpg}" class="img-responsive img-thumbnail "/>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="/js/common/common.js" th:src="@{/js/common/common.js}"></script>
<script th:src="@{/js/user/myprofileForCaretakerAdd.js}"></script>

<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>
<div th:replace="common/common :: alertModal"/>
</body>
</html>