<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<div th:fragment="header-css">
		<title>I LOVE PET</title>
		<link rel="stylesheet" type="text/css"
			  href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

		<link rel="stylesheet" th:href="@{/css/main.css}"
			  href="/../../css/main.css"/>
		<style>
			#header {
				position: fixed;
				top: 0px;
				z-index: 999;
				background-color: rgba(255, 255, 255, 0.4);
				width: 100%;
				border-bottom: 1px solid lightgray;
			}
		</style>
	</div>
</head>
<body>
<div id="header" th:fragment="header">
	<nav>
		<div class="navbar-header">
			<a class="navbar-brand" style="color: coral; font-weight: bolder;" th:href="@{/}">ILOVEPET</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul sec:authorize="isAnonymous()" class="nav navbar-nav">
				<li class="active"><a th:href="@{/caretaker}">돌보미</a></li>
				<li class="active"><a th:href="@{/consigner}">맡기미</a></li>
			</ul>
			<!-- 돌보미 -->
			<ul sec:authorize="hasRole('ROLE_CARETAKER')" class="nav navbar-nav">
				<li class="active"><a th:href="@{/caretaker}">대시보드</a></li>
				<li class="active"><a th:href="@{/pet}">위탁받은 반려 동물</a></li>
				<li class="active"><a th:href="@{/caretaker/carelog}">돌봄 서비스 이력</a></li>
			</ul>
			<!-- 맡기미 (위탁자)-->
			<ul sec:authorize="hasRole('ROLE_CONSIGNER')" class="nav navbar-nav">
				<li class="active"><a th:href="@{/consigner}">대시보드</a></li>
				<li class="active"><a th:href="@{/pet}">나의 반려동물</a></li>
				<li class="active"><a th:href="@{/consigner/user}">돌보미 목록</a></li>
			</ul>
			<!--관리자 -->
			<ul sec:authorize="hasRole('ROLE_ADMIN')" class="nav navbar-nav">
				<li class="active"><a th:href="@{/admin}">대시보드</a></li>
				<li class="active"><a th:href="@{/admin/notice}">공지사항</a></li>
			</ul>
			<ul sec:authorize="isAnonymous()" class="nav navbar-nav navbar-right">
				<li class="active"><a th:href="@{/login}">로그인</a></li>
				<li class="active"><a th:href="@{/signup}">아직 회원이 아니세요?</a></li>
			</ul>
			<ul sec:authorize="!isAnonymous()" class="nav navbar-nav navbar-right">
				<li class="active"><a th:href="@{/myprofile}">안녕하세요 <span sec:authentication="name"></span> 님</a></li>
				<li class="active"><a th:href="@{/logout}">로그아웃</a></li>
			</ul>
		</div>
	</nav>
</div>
</body>
</html>