/**
 * @author Lee Tae Su
 * @project recommendation
 * @version 1.0
 * @since 2017-10-13
 */

h1{
    color:#0000FF;
}

h2{
    color:#FF0000;
}

footer{
    margin-top:60px;
}

.page-wrap {
    margin-top: 80px;
}

.view-title{
    color: #23bab5;
}

.no-border{
    border: 0px !important;
}

.progress-bar-size{
    background-color: #995cb3;
}