<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>I LOVE PET 로그인</title>
	<div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="page-wrap">
	<div class="container">
		<div sec:authorize="!isAuthenticated()" class="row" style="margin-top:20px">
			<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
				<form action="login" method="post">
					<fieldset>
						<h3 class="view-title">Please Sign In</h3>

						<div th:if="${param.error}">
							<div class="alert alert-danger">
								Invalid username and password.
							</div>
						</div>
						<div th:if="${param.logout}">
							<div class="alert alert-info">
								You have been logged out.
							</div>
						</div>

						<div class="form-group">
							<input type="text" name="userId" id="userId" class="form-control input-lg"
								   placeholder="UserName" required="true" autofocus="true"/>
						</div>
						<div class="form-group">
							<input type="password" name="password" id="password" class="form-control input-lg"
								   placeholder="Password" required="true"/>
						</div>

						<div class="row">
							<div class="col-xs-6 col-sm-6 col-md-6">
								<input type="submit" style="background-color: #23bab5" class="btn btn-lg btn-primary btn-block" value="Sign In"/>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-6">
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div sec:authorize="isAuthenticated()" class="row" style="margin-top:20px">
			계정[<span sec:authentication="name"></span>]으로 이미 로그인 되어 있습니다
		</div>
	</div>
</div>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>