<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>I LOVE PET 로그인</title>
	<div th:replace="fragments/header :: header-css"/>

	<link th:href="@{/css/login/login.css}" href="/css/login/login.css" rel="stylesheet"/>
</head>
<body>

<div class="page-wrap">
	<div class="container">
		<div class="col-sm-8 col-sm-offset-2 main" sec:authorize="!isAuthenticated()">
			<div class="col-sm-6 left-side">
				<h1>I Love Pet.</h1>
				<p>당신의 반려동물은 믿고 맡겨주세요.</p>
				<img src="/images/walk-1.png"/>
			</div><!--col-sm-6-->
			<div class="col-sm-6 right-side">
				<!--Form with header-->
				<form action="login" method="post" class="form">
					<div class="form-group">
						<input type="text" name="userId" id="userId" class="form-control input-lg"
							   placeholder="아이디" required="true" autofocus="true"/>
					</div>
					<div class="form-group">
						<input type="password" name="password" id="password" class="form-control input-lg"
							   placeholder="비밀번호" required="true"/>
					</div>
					<div class="text-xs-center">
						<button type="submit" class="btn btn-deep-purple">로그인</button>

						<p>아직 I Love Pet 계정이 없으신가요?</p>

						<a th:href="@{/signup(target='ROLE_CONSIGNER')}" class="fb">맡기미 가입</a>
						<a th:href="@{/signup}" class="tw">돌보미 가입</a>
					</div>
				</form>
				<!--/Form with header-->
			</div><!--col-sm-6-->
		</div><!--col-sm-8-->
		<div class="col-sm-8 col-sm-offset-2 main" sec:authorize="isAuthenticated()">
			<div class="col-sm-6 left-side">
				<h1>I Love Pet.</h1>
				<p>당신의 반려동물은 믿고 맡겨주세요.</p>
				<img src="/images/walk-1.png"/>
			</div><!--col-sm-6-->
			<div class="col-sm-6 right-side">
				<p>이미 로그인 되어 있습니다.</p>
				<div class="text-xs-center">
					<a th:href="@{/}" class="btn btn-deep-purple">홈으로</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:replace="fragments/footer :: footer"/>

</body>
</html>