<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments/header :: header-css"/>
	<link rel="stylesheet" href="/css/signup/signup.css" th:href="@{/css/signup/signup.css}"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="wrap container">
	<div class="login-signup">
		<div class="row">
			<div class="col-sm-12 nav-tab-holder">
				<ul class="nav nav-tabs row" role="tablist">
					<li role="presentation" class="col-sm-6" th:classappend="${#strings.equals('caretaker', signupValue.value) ? 'active' : ''}"><a th:href="@{/signup(target='caretaker')}"  aria-controls="home" role="tab" data-toggle="tab">돌보미</a></li>
					<li role="presentation" class="col-sm-6" th:classappend="${#strings.equals('consigner', signupValue.value) ? 'active' : ''}"><a th:href="@{/signup(target='consigner')}" aria-controls="profile" role="tab" data-toggle="tab" >맡기미</a></li>
				</ul>
			</div>
		</div>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="home">
				<div class="row">
					<div class="col-sm-12">
						<article role="login">
							<h3 class="text-center" th:text="${signupValue.name}"><i class="fa fa-lock"></i></h3>
							<form class="signup" action="index.html" method="post">
								<div class="form-group">
									<input type="text" class="form-control" placeholder="UserName"/>
								</div>
								<div class="form-group">
									<input type="email" class="form-control" placeholder="Email Address"/>
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Phone Number"/>
								</div>
								<div class="form-group">
									<input type="password" class="form-control" placeholder="Password"/>
								</div>
								<div class="form-group">
									<input type="password" class="form-control" placeholder="Confirm Password"/>
								</div>
								<div class="form-group">
									<div class="checkbox">
										<label>
											<input type="checkbox"/> Please accept the terms and conditions to proceed with your request.
										</label>
									</div>
								</div>
								<div class="form-group">
									<input type="submit" class="btn btn-success btn-block" value="SUBMIT"/>
								</div>
							</form>
							<footer role="signup" class="text-center">
								<ul>
									<li>
										<a href="#">Terms of Use</a>
									</li>
									<li>
										<a href="#">Privacy Statement</a>
									</li>
								</ul>
							</footer>
						</article>
					</div>
				</div>
				<!-- end of row -->
			</div>
			<!-- end of home -->
		</div>
	</div>
</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>